*{
    background-color: #f7e9db;
    margin-left: 20px;
    margin-right: 20px; 
}
h2{
color: #0f0e0e;
font-size: 30px;

/* margin: 0rem; */
/* margin-top: 8px; */
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
}
.lists ul li{
    display: inline-flex;
}
.btn1{
    background-color: #ff4066;
    border-radius: 3rem;
    color: white;
    border: none;
    padding: 7px;
    margin-top: 10px;
    font-weight: 700;
}
.main{
    display: flex;
    min-width: 80%;
}
.title{
    margin: 0px;
    font-size: 60px;
    font-weight: 600;
    margin-left: 20px;

}
.btn2{
background-color: black;
color: white;
border-radius: 2rem;
padding: 7px;
font-weight: 700;
}

.txt p:nth-child(3){
    color: #ff4066;
}
b{
    margin: 0px;
}
img{
    width: auto;
    height: 25%;
}
.logo{
    width: 150px;
    background-color: #f7e9db;
}
.logo img{
    max-width: 70%; 
    background-color: #f7e9db;
}
.bodyContainer{
    padding-left: 65px;
}

